<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownLoadVideoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3E17BCA1E4AEB6C00631C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3E17BE31E4AEB6C00631C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3E17BEE1E4AEB6C00631C3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
